@import "../../styles/functions.scss";

.links {
  display: flex;
  align-items: start;
  gap: 2rem;

  h4,
  h5 {
    margin-bottom: 0;
  }

  &Wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem 1rem;
  }
  &Item,
  &ItemSmall {
    font-weight: 600;
    color: var(--accent-300);
  }

  &Item {
    font-size: toRem(15);
  }

  &ItemSmall {
    font-size: toRem(14);
  }

  @media (min-width: 479px) {
    &Item,
    &ItemSmall {
      font-size: 1rem;
    }
  }
}
