@import "../../styles/functions.scss";

:global {
  body[data-theme="light"] {
    --search-bg: var(--neutral-100);
    --search-color: var(--neutral-700: );
    --search-placeholder-color: var(---neutral-400);
    --color-focus-visible: var(--neutral-900);
  }

  body[data-theme="dark"] {
    --search-bg: var(--neutral-600);
    --search-color: var(--neutral-50);
    --search-placeholder-color: var(--neutral-300);
    --color-focus-visible: var(--neutral-50);
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.search {
  position: relative;

  &TextField {
    font-size: 1rem;
    padding: 1rem 4rem 1rem 1.5rem;
    font-family: inherit;
    font-weight: 700;
    width: 100%;
    background-color: var(--search-bg);
    color: var(--search-color);
    border-radius: 0.75rem;
    border: none;
    outline: none;

    &Error {
      -webkit-box-shadow: 0px 0px 0px 1px var(--error-400);
      -moz-box-shadow: 0px 0px 0px 1px var(--error-400);
      box-shadow: 0px 0px 0px 1px var(--error-400);
    }

    &:focus {
      -webkit-box-shadow: 0px 0px 0px 1px var(--color-focus-visible);
      -moz-box-shadow: 0px 0px 0px 1px var(--color-focus-visible);
      box-shadow: 0px 0px 0px 1px var(--color-focus-visible);
    }

    &:focus-visible {
      -webkit-box-shadow: 0px 0px 0px 1px var(--accent-400);
      -moz-box-shadow: 0px 0px 0px 1px var(--accent-400);
      box-shadow: 0px 0px 0px 1px var(--accent-400);
    }

    &::placeholder {
      color: var(--search-placeholder-color);
    }

    @media (min-width: 479px) {
      font-size: 1.25rem;
      padding: 1.25rem 4rem 1.25rem 1.5rem;
    }
  }

  &Button {
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    border: none;
    color: var(--accent-400);
    font-size: inherit;
    height: 100%;
    right: 0;
    padding: 0 1.5rem;
    font-size: toRem(18);
  }
}
