.phonetic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &Word {
    h2 {
      font-size: 2rem;
    }
    p {
      font-family: "Inter", sans-serif;
      font-size: 1rem;
      font-weight: 400;
      color: var(--accent-300);
    }
  }
  &Play {
    cursor: pointer;
    width: 50px;
  }

  @media (min-width: 479px) {
    &Word {
      h2 {
        font-size: 4rem;
      }
      p {
        font-size: 1.5rem;
      }
    }
    &Play {
      width: 75px;
    }
  }
}
